body {
  background-color: wheat;
}

h1 {
  text-align: center;
}

body > div {
  display: flex;
  justify-content: center;
}

body > div > div {
  width: 250px;
  height: 350px;
  background-color: white;
  margin: 20px;
  position: relative;
}

div > div > div:nth-child(1) {
  width: 240px;
  height: 20px;
  margin: 5px;
}
div > div > div:nth-child(2) {
  position: relative;
  margin: 5px 5px 5px 10px;
}

div > div > div:nth-child(3) {
  width: 240px;
  height: 200px;
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.Teal div:nth-child(odd) {
  background-color: Teal;
}

.Tomato div:nth-child(odd) {
  background-color: tomato;
}

.Burlywood div:nth-child(odd) {
  background-color: Burlywood;
}

.Thistle div:nth-child(odd) {
  background-color: Thistle;
}
